header.top {
  text-align: center;
}
header.top h1 {
  font-size: 14.4rem;
  line-height: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
header.top h1 .ofThe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3rem;
  color: #008000;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url("images/anchor.svg") center no-repeat;
  background-size: cover;
  padding: 0 1rem;
}
header.top h1 .ofThe .of {
  padding-right: 2rem;
  position: relative;
  right: -0.5rem;
}
header.top h3 {
  margin: 0;
  font-size: 2rem;
  color:  #008000;
  position: relative;
  display: inline-block;
}
header.top h3 span {
  background: #fff;
  position: relative;
  z-index: 2;
  padding-left: 1rem;
  padding-right: 1rem;
}
header.top h3:before,
header.top h3:after {
  display: block;
  z-index: 1;
  background: #000;
  position: absolute;
  width: 130%;
  height: 1px;
  content: "";
  top: 5px;
  margin-left: -15%;
}
header.top h3:after {
  top: auto;
  bottom: 7px;
}
